Repository Arquisoft/wichat_es2a, pull requests merged in 2025-04, with the labels that each got.

#120 Improved game history UI.
  webapp/src/components/GameHistoryUI.jsx
  wikidata/src/wikidataRoutes.js
Labels: frontend, game

#124 Countdown chrono (component and funcionality) and readjust game panel
  webapp/src/App.jsx
  webapp/src/components/Countdown.css
  webapp/src/components/Countdown.jsx
  webapp/src/components/GamePanel.jsx
  webapp/src/media/madrid_mobile.webp
Labels: enhancement, frontend, game

#132 Development game categories and implement their e2e tests
  webapp/e2e/features/game-category.feature
  webapp/e2e/jest.config.js
  webapp/e2e/steps/game-category.steps.js
  webapp/src/components/GamePanel.jsx
  webapp/src/components/Home.jsx
  webapp/src/components/Login.js
Labels: enhancement, test, frontend, game

#133 Implement e2e test for game
  webapp/e2e/features/game-play.feature
  webapp/e2e/jest.config.js
  webapp/e2e/steps/game-play.steps.js
  webapp/src/components/GamePanel.jsx
Labels: test, frontend

#144 Add login e2e test
  webapp/e2e/features/login-form.feature
  webapp/e2e/steps/login-form.steps.js
Labels: test, frontend

#153 Add new categories: scientists and spanish athlete
  webapp/src/components/Home.jsx
  wikidata/src/model/wikidataFakeAnswers.js
  wikidata/src/model/wikidataQueries.js
Labels: enhancement, backend, wikidata, game

#155 Fix bug when click answer in last second
  webapp/src/components/GamePanel.jsx
Labels: bug, backend, frontend, game, fix

#161 Game levels
  webapp/src/components/Countdown.jsx
  webapp/src/components/GamePanel.jsx
  webapp/src/components/Home.jsx
Labels: enhancement, frontend, game

#163 Enhance User Registration: Avatar Customization, Validation, and UX Improvements
  gatewayservice/gateway-service.js
  users/userservice/user-model.js
  users/userservice/user-service.js
  webapp/src/components/AddUser.js
  webapp/src/components/Login.js
  webapp/src/components/Nav.jsx
  webapp/src/components/Profile.jsx
Labels: enhancement, backend, frontend, fix

#173 Add EditProfile page with avatar customization and username validation
  gatewayservice/gateway-service.js
  users/userservice/user-service.js
  webapp/src/App.jsx
  webapp/src/components/AddUser.js
  webapp/src/components/AvatarEditor.jsx
  webapp/src/components/EditProfile.jsx
  webapp/src/components/Login.js
Labels: bug, backend, frontend

#175 Game configuration
  webapp/src/App.jsx
  webapp/src/components/Configuration.jsx
  webapp/src/components/Countdown.jsx
  webapp/src/components/Nav.jsx
  webapp/src/utils/config.js
  wikidata/src/model/wikidataQueries.js
  wikidata/src/services/wikidataService.js
  wikidata/src/wikidataRoutes.js
  wikidata/tests/wikidataService.test.js
Labels: game

#181 Implementation of Global Chat between users.
  users/userservice/message-model.js
  users/userservice/user-service.js
  webapp/src/App.jsx
  webapp/src/components/ChatGlobal.jsx
  webapp/src/components/Nav.jsx
Labels: enhancement, backend, usersService, frontend, chat

#190 Create score component and implement puntuation functions for each level
  webapp/src/components/Configuration.jsx
  webapp/src/components/Countdown.jsx
  webapp/src/components/GamePanel.jsx
  webapp/src/components/Score.jsx
Labels: enhancement, backend, frontend, game

#193 Back end for new game info (level, category, points) and add this info to game results history view
  webapp/src/components/GameHistoryUI.jsx
  webapp/src/components/GamePanel.jsx
  wikidata/src/model/wikidataModel.js
  wikidata/src/wikidataRoutes.js
Labels: enhancement, backend, frontend, game

#183 Friends view improved
  users/userservice/user-service.js
  webapp/src/components/FriendList.jsx
Labels: usersService, frontend

#198 Fixed test e2e
  webapp/e2e/steps/game-category.steps.js
  webapp/e2e/steps/register-and-avatar.steps.js
  webapp/e2e/test-environment-setup.js
  webapp/src/components/AvatarEditor.jsx
Labels: test

#197 Implementation of private chat between friends
  users/userservice/private-message-model.js
  users/userservice/user-service.js
  webapp/src/App.jsx
  webapp/src/components/FriendList.jsx
  webapp/src/components/PrivateChat.jsx
Labels: enhancement, backend, usersService, frontend, chat

#201 Friends History implementation + bugs fixed
  webapp/src/components/FriendList.jsx
  webapp/src/components/GameHistoryUIGroup.jsx
Labels: bug, enhancement, usersService, frontend, fix, group service

#214 Added new APIService tests
  .github/workflows/build.yml
  .github/workflows/release.yml
  apiservice/Dockerfile
  apiservice/api-service.js
  apiservice/api-service.test.js
  apiservice/package.json
  apiservice/server.js
  docker-compose.yml
Labels: test

#216 Added new wikidata tests
  wikidata/src/utils/config.js
  wikidata/src/wikidataRoutes.js
  wikidata/tests/wikidataQueries.test.js
  wikidata/tests/wikidataRoutes.test.js
Labels: test

#217 Added new gateway tests
  gatewayservice/gateway-service.test.js
Labels: test
