Repository Arquisoft/wichat_es2a, pull requests merged in 2025-05, with the labels that each got.

#218 Added new gateway test
  gatewayservice/gateway-service.test.js
  gatewayservice/package.json
Labels: test

#235 Score tests
  webapp/src/components/Score.jsx
  webapp/src/components/Score.test.js
Labels: test

#238 Add game configuration tests
  webapp/src/components/Configuration.test.js
Labels: test

#252 User Service Tests completed.
  users/userservice/user-service.js
  users/userservice/user-service.test.js
Labels: test

#259 Load test
  gatewayservice/gateway-service.js
  gatewayservice/gateway-service.test.js
  gatewayservice/load_test/generate-user.js
  gatewayservice/load_test/link_to_report.txt
  gatewayservice/load_test/test.yml
  gatewayservice/openapi.yaml
Labels: test

#242 Add test for Countdown
  webapp/src/components/Countdown.test.js
Labels: test

#261 Add AvatarEditor Test
  webapp/src/components/AvatarEditor.test.js
Labels: test

#267 Add ChatGlobal tests
  webapp/src/components/ChatGlobal.test.js
  webapp/src/components/PrivateChat.test.js
Labels: test

#263 Add more tests for nav
  webapp/src/components/Nav.test.js
Labels: test

#272 Implemented tests for the llm-service
  .github/workflows/build.yml
  .github/workflows/release.yml
  docker-compose.yml
  llmservice/conversation-model.test.js
  llmservice/llm-service.js
  llmservice/llm-service.test.js
  llmservice/package-lock.json
  llmservice/package.json
Labels: backend, test, fix

#274 Solve bug for save games in database
  webapp/src/components/GamePanel.jsx
  wikidata/src/model/wikidataModel.js
  wikidata/src/wikidataRoutes.js
Labels: bug, backend, game

#276 Refactoring and remove duplicate lines
  webapp/src/components/GamePanel.jsx
  wikidata/src/model/wikidataQueries.js
Labels: backend, frontend, refactoring

#281 Usability test
  usability_test.pdf
Labels: test

#271 Documentation #9 updated
  docs/images/DiceBear.png
  docs/images/mui.png
  docs/images/oracle.jpg
  docs/src/09_architecture_decisions.adoc
Labels: documentation

#287 New User Service Routes
  gatewayservice/gateway-service.js
  webapp/src/components/ChatGlobal.jsx
  webapp/src/components/FriendList.jsx
  webapp/src/components/FriendSearch.jsx
  webapp/src/components/Friends.jsx
  webapp/src/components/PrivateChat.jsx
Labels: bug

#288 Fix bugs wikidata
  webapp/src/components/Home.jsx
  wikidata/src/model/wikidataQueries.js
  wikidata/tests/wikidataQueries.test.js
Labels: bug

#290 User Service fixes
  users/userservice/user-service.js
  webapp/src/components/ChatGlobal.jsx
Labels: bug

#222 Update documentation
  docs/images/06_runview_game.svg
  docs/images/06_runview_history.svg
  docs/images/06_runview_login.svg
  docs/images/06_runview_signup.svg
  docs/images/Building_Block_View_Final.svg
  docs/images/diagrama_runview_login.png
  docs/images/diagrama_runview_signup.png
  docs/images/services_connection.svg
  docs/images/services_connection_v2.svg
  docs/src/01_introduction_and_goals.adoc
  docs/src/03_context_and_scope.adoc
  docs/src/04_solution_strategy.adoc
  docs/src/05_building_block_view.adoc
  docs/src/06_runtime_view.adoc
Labels: documentation

#295 Monitoring and Profiling completed
  MonitoringAndProfiling - ASW wichat_es2a.pdf
Labels: documentation

#296 Add mathGame service to documentation
  docs/images/services_connection_v2.svg
  docs/images/services_connection_v3.svg
  docs/src/04_solution_strategy.adoc
Labels: documentation

#310 Update documentation
  docs/images/06_runview_game.svg
  docs/images/06_runview_history.svg
  docs/images/06_runview_login.svg
  docs/images/06_runview_signup.svg
  docs/src/01_introduction_and_goals.adoc
  docs/src/03_context_and_scope.adoc
  docs/src/04_solution_strategy.adoc
  docs/src/05_building_block_view.adoc
  docs/src/06_runtime_view.adoc
  mathGame/index.test.js
  mathGame/service/mathGameService.test.js
Labels: documentation

#315 Friends Component tested
  webapp/src/components/Friends.test.js
Labels: test

#316 Fix tests e2e and mathGame
  mathGame/index.js
  mathGame/mathGameRoutes.js
  mathGame/mathGameRoutes.test.js
  tests.bat
  webapp/e2e/steps/game-play.steps.js
Labels: test

#318 Added Diagrams
  docs/images/03_context_business.svg
  docs/images/3_Technical_context.svg
  docs/src/03_context_and_scope.adoc
  webapp/src/components/AddUser.js
  webapp/src/components/ChatGlobal.jsx
  webapp/src/components/Configuration.jsx
  webapp/src/components/Contact.jsx
  webapp/src/components/FriendList.jsx
  webapp/src/components/Friends.jsx
  webapp/src/components/GameHistoryUI.jsx
  webapp/src/components/GamePanel.jsx
  webapp/src/components/GlobalRanking.jsx
  webapp/src/components/GroupChat.jsx
  webapp/src/components/GroupDetails.jsx
  webapp/src/components/Home.jsx
  webapp/src/components/Login.js
  webapp/src/components/MathGame.jsx
  webapp/src/components/PrivateChat.jsx
  webapp/src/components/Profile.jsx
  webapp/src/components/UserGroups.jsx
Labels: documentation, fix

#319 Extra User Service tests
  users/userservice/user-service.test.js
Labels: test

#309 Fixed build workflow
  .github/workflows/build.yml
  docker-compose.yml
  mathGame/app.js
  mathGame/mathGameRoutes.js
  mathGame/mathGameRoutes.test.js
  mathGame/package-lock.json
  mathGame/package.json
  webapp/e2e/jest.config.js
  webapp/e2e/steps/game-category.steps.js
  webapp/e2e/steps/game-play.steps.js
  webapp/e2e/steps/history.steps.js
  webapp/e2e/steps/login-form.steps.js
  webapp/e2e/steps/logout-session.steps.js
  webapp/e2e/steps/register-and-avatar.steps.js
  webapp/e2e/steps/register-form.steps.js
  webapp/e2e/test-environment-setup.js
  webapp/package-lock.json
  webapp/src/components/AddUser.js
  webapp/src/components/Contact.jsx
  webapp/src/components/Contact.test.js
  webapp/src/components/FriendList.jsx
  webapp/src/components/GameHistoryTable.jsx
  webapp/src/components/GameHistoryUI.jsx
  webapp/src/components/GamePanel.jsx
  webapp/src/components/GlobalRanking.jsx
  webapp/src/components/GroupChat.jsx
  webapp/src/components/Home.jsx
  webapp/src/components/Login.js
  webapp/src/components/Nav.jsx
  webapp/src/components/PrivateChat.jsx
  webapp/src/components/Profile.jsx
  webapp/src/components/Score.jsx
  webapp/src/components/UserGroups.jsx
Labels: bug, test, fix
